@model List<DogusProject.Web.Models.Category.DTOs.CategoryDto>
@{
    ViewData["Title"] = "Kategoriler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-md-11 col-lg-9">
            @if (Model.Count != null)
            {
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
                    @foreach (var category in Model)
                    {
                        <div class="col">
                            <div class="card h-100 shadow-sm border-0">
                                <div class="card-body d-flex flex-column">
                                    <h5 class="card-title"><a asp-area="Public" asp-controller="Category" asp-action="BlogsByCategory" asp-route-id="@category.Id" class="nav-link d-flex align-items-center">
                                        <span>@category.Name</span>
                                    </a></h5>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
            else
            {
                <div class="alert alert-info">Henüz kategori yok.</div>
            }
        </div>
    </div>
</div>