@model CategoryDto
@{
    ViewData["Title"] = "Kategori Güncelle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kategori Güncelle</h2>

<form asp-area="Admin" asp-controller="Category" asp-action="Edit" asp-route-id="@Model.Id" method="post">
    <div class="mb-3">
        <label asp-for="Name" class="form-label">Kategori İsmi</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary rounded-pill">Güncelle</button>
    <a asp-action="Index" class="btn btn-secondary rounded-pill">Geri Dön</a>
</form>